.main{
    box-shadow: 0 0 10px #000;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.nameInput{
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;

}

.startBtn{
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #e0a1a1;
    border: none;
    cursor: pointer;
}